.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Встановлює 5 стовпців з рівною шириною */
    gap: 15px;
    padding: 20px;
    background-color: black;
}

.item {
    border: 2px solid #8B0000;
    overflow: hidden;
    border-radius: 10px;
}